<div class="profile-wrapper">
    <app-page-header title="Настройка профиля"></app-page-header>
    <div class="wrapper">
        <form class="form" [formGroup]="form">
            <div class="profile">
                <mat-icon>account_circle</mat-icon>
            </div>

            <div class="form-fields">
                <mat-form-field>
                    <mat-label>Имя</mat-label>
                    <input type="text" matInput formControlName="firstName">
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Фамилия</mat-label>
                    <input type="text" matInput formControlName="lastName">
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Отчество</mat-label>
                    <input type="text" matInput formControlName="patronymic">
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="text" matInput formControlName="email" [readonly]="true">
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Дата рождения</mat-label>
                    <input type="date" matInput formControlName="dateBirth">
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Город</mat-label>
                    <input type="text" matInput formControlName="city">
                </mat-form-field>
            </div>

            <div class="actions">
                <div class="row center" *ngIf="!editMode">
                    <button mat-raised-button color="primary" (click)="changeMode(true)">Редактировать</button>
                </div>
                <div class="row" *ngIf="editMode">
                    <button mat-raised-button color="primary" (click)="updateProfile()">Сохранить</button>
                    <button mat-raised-button (click)="changeMode(false)">Отмена</button>
                </div>
            </div>
        </form>

        <div class="side-image">
            <img src="assets/images/bg-shapes.svg" alt="">
        </div>
    </div>
</div>