<div class="cars-list-wrapepr">
  <app-page-header title="Гараж"></app-page-header>
    <div class="table-wrapper" style="padding-left: 10px;">
        <table mat-table [dataSource]="cars">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"> 
                    <input type="checkbox" [checked]="element.active" name="" id="" (change)="changeActive(element.id)">    
                </td>
              </ng-container>
    
              <ng-container matColumnDef="mark">
                <th mat-header-cell *matHeaderCellDef>Mark</th>
                <td mat-cell *matCellDef="let element"  (click)="clickOnRow(element)"> {{element.mark}} </td>
              </ng-container>
    
              <ng-container matColumnDef="model">
                <th mat-header-cell *matHeaderCellDef> Model </th>
                <td mat-cell *matCellDef="let element"  (click)="clickOnRow(element)"> {{element.model}} </td>
              </ng-container>
    
              <ng-container matColumnDef="stateNumber">
                <th mat-header-cell *matHeaderCellDef> State Number </th>
                <td mat-cell *matCellDef="let element"  (click)="clickOnRow(element)"> {{element.stateNumber}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons 
            aria-label="Select page of periodic elements">
        </mat-paginator> -->
    </div>
    <div class="actions-wrapper">
        <button mat-raised-button [disabled]="selectedcarIdx == null" (click)="openDeleteDialog()">Удалить</button>
        <button mat-raised-button [disabled]="selectedcarIdx == null" (click)="openEditDialog()">Редактировать</button>
        <button mat-raised-button (click)="openCreateDialog()">Добавить</button>
        <button mat-raised-button (click)="openServiceRequestDialog()">Заявка на сервис</button>
    </div>
</div>
