.cars-list-wrapepr{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    app-page-header{
        margin-bottom: 20px;
    }

    .actions-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: auto;
        padding: 20px;
    }
}

table{
    width: 100%;
}