<div class="registration-wrapper">
    <div class="wrapper">
        <form class="form" [formGroup]="form">
            <span class="title">Добро пожаловать!</span>

            <mat-form-field>
                <mat-label>Имя *</mat-label>
                <input type="text" matInput class="form-input" placeholder="Введите имя" formControlName="firstName">
                <mat-error>
                    Это поле обязятельно для заполнения. <br>
                    Максимальная длина 50 символов
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Фамилия *</mat-label>
                <input type="text" matInput class="form-input" placeholder="Введите фамилию" formControlName="lastName">
                <mat-error>
                    Это поле обязятельно для заполнения. <br>
                    Максимальная длина 50 символов
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Отчество</mat-label>
                <input type="text" matInput class="form-input" placeholder="Введите отчество" formControlName="patronymic">
                <mat-error>
                    Максимальная длина 50 символов
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email *</mat-label>
                <input type="text" matInput class="form-input" placeholder="Введите email" formControlName="email">
                <mat-error>
                    Это поле обязательно для заполнения. <br>
                    Формат электронной почты "example@example.com"
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Дата рождения</mat-label>
                <input type="date" matInput class="form-input" formControlName="dateBirth">
                <mat-error>
                    Это поле обязательно для заполнения.
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Город</mat-label>
                <input type="text" matInput class="form-input" placeholder="Введите город" formControlName="city">
                <mat-error>
                    Это поле обязательно для заполнения.
                </mat-error>
            </mat-form-field>

            <div class="form-control-wrapper">
                <button mat-raised-button (click)="submit()">Регистрация</button>
                <div>
                    Уже зарегистрированы? <a href="">Войти</a>
                </div>
            </div>
        </form>
    </div>

    <div class="side-image">
        <img src="assets/images/bg-shapes.svg" alt="">
    </div>
</div>