<div class="registration-wrapper">
    <div class="wrapper">
        <form class="form" [formGroup]="form" (submit)="submit()">
            <span class="title">Добро пожаловать!</span>
            <div class="form-control-wrapper">
                <span>Имя</span>
                <input type="text" class="form-input" placeholder="Введите имя" formControlName="firstName">
            </div>
            <div class="form-control-wrapper">
                <span>Фамилия</span>
                <input type="text" class="form-input" placeholder="Введите фамилию" formControlName="lastName">
            </div>
            <div class="form-control-wrapper">
                <span>Отчество</span>
                <input type="text" class="form-input" placeholder="Введите отчество" formControlName="patronymic">
            </div>
            <div class="form-control-wrapper">
                <span>Email</span>
                <input type="text" class="form-input" placeholder="Введите email" formControlName="email">
            </div>
            <div class="form-control-wrapper">
                <span>Дата рождения</span>
                <input type="date" class="form-input" formControlName="dateBirth">
            </div>
            <div class="form-control-wrapper">
                <span>Город</span>
                <input type="text" class="form-input" placeholder="Введите город" formControlName="city">
            </div>
            <div class="form-control-wrapper">
                <input type="submit" value="Подтвердить регистрацию по email" class="submit">
                <div>
                    Уже зарегистрированы? <a href="">Войти</a>
                </div>
            </div>
        </form>
    </div>

    <div class="side-image">
        <img src="assets/images/bg-shapes.svg" alt="">
    </div>
</div>