<div class="dialog-wrapper">
    <div class="dialog-title">
        <h3>Диллерский центр</h3>
        <mat-icon (click)="close()">close</mat-icon>
    </div>
    <ng-container>
      <div class="content" >
        <div class="content-row">
            <mat-form-field>
                <mat-label>Бренд</mat-label>
                <input matInput placeholder="Just a placeholder" [value]="dealership?.brand" [disabled]="true">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Название</mat-label>
                <input matInput placeholder="Just a placeholder" [value]="dealership?.name" [disabled]="true">
              </mat-form-field>

              <mat-form-field [matTooltip]="dealership!.address">
                <mat-label>Адрес</mat-label>
                <input matInput placeholder="Just a placeholder" 
                     [value]="dealership?.address" [disabled]="true">
              </mat-form-field>
        </div>

        <div class="content-row">
            <mat-form-field>
                <mat-label>Номер оператора</mat-label>
                <input matInput placeholder="Just a placeholder" [value]="dealership?.operatorNum" [disabled]="true">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Время открытия</mat-label>
                <input 
                    matInput 
                    placeholder="Just a placeholder" 
                    [value]="dealership?.openingTime" 
                    [disabled]="true">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Время закрытия</mat-label>
                <input 
                    matInput 
                    placeholder="Just a placeholder" 
                    [value]="dealership?.closingTime" 
                    [disabled]="true">
              </mat-form-field>
        </div>
    </div>
    <!-- <div class="actions">
        <button mat-raised-button (click)="close()">Ok</button>
      </div> -->
    </ng-container>

    
</div>