.dialog-wrapper{
    display: flex;
    flex-direction: column;

    .dialog-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;

        mat-icon{
            cursor: pointer;
        }
    }

    .content{
        display: flex;
        flex-direction: column;

        .content-row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
        }
    }

    .actions{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 30px;
    }
}