.container{
  overflow: hidden;
  margin: 0;

  mat-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.content-wrapper{
    display: flex;
    flex-direction: row;
    height: 88vh;
    width: 100%;

    app-side-menu{
      width: 18%;
    }

    .outlet-wrapper{
      width: 82%;
    }
}

