<div class="dialog-wrapper">
    <div class="dialog-title">
        <h3>{{data.edit? editTitle: viewTitle}}</h3>
        <mat-icon (click)="close(false)">close</mat-icon>
    </div>
    <ng-container *ngIf="!data.edit; else edit_form">
      <div class="content" >
        <div class="content-row">
            <mat-form-field>
                <mat-label>Марка</mat-label>
                <input matInput placeholder="Just a placeholder" [value]="carDetails?.mark" [disabled]="true">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Модель</mat-label>
                <input matInput placeholder="Just a placeholder" [value]="carDetails?.model" [disabled]="true">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Год</mat-label>
                <input matInput placeholder="Just a placeholder" [value]="carDetails!.year" [disabled]="true">
              </mat-form-field>
        </div>
        <div class="content-row">
            <mat-form-field>
                <mat-label>Трансмиссия</mat-label>
                <mat-select [(value)]="carDetails!.transmission" [disabled]="true">
                    <mat-option *ngFor="let transmission of transmissions" [value]="transmission.type">
                      {{transmission.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Тив двигателя</mat-label>
                <mat-select [(value)]="carDetails!.engineType" [disabled]="true">
                    <mat-option *ngFor="let engine of engines" [value]="engine.type">
                      {{engine.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Привод</mat-label>
                <mat-select [(value)]="carDetails!.drive" [disabled]="true">
                    <mat-option *ngFor="let drive of drives" [value]="drive.type">
                      {{drive.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="content-row">
            <mat-form-field>
                <mat-label>Пробег</mat-label>
                <input matInput placeholder="Just a placeholder" [value]="carDetails?.mileage" [disabled]="true">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Гос. номер</mat-label>
                <input matInput placeholder="Just a placeholder" [value]="carDetails?.stateNumber" [disabled]="true">
              </mat-form-field>
        </div>
    </div>
    <div class="actions">
        <button mat-raised-button (click)="sendCharacteristics()">Отправить параметры на почту</button>
      </div>
    </ng-container>

    <ng-template #edit_form>
      <form  class="content" action="" [formGroup]="form">
        <div class="content-row">
          <mat-form-field>
              <mat-label>Марка</mat-label>
              <input matInput placeholder="Just a placeholder" formControlName="mark">
              <mat-error>
                Поле обязательное
            </mat-error>
            </mat-form-field>
  
            <mat-form-field>
              <mat-label>Модель</mat-label>
              <input matInput placeholder="Just a placeholder" formControlName="model">
              <mat-error>
                Поле обязательное
            </mat-error>
            </mat-form-field>
  
            <mat-form-field>
              <mat-label>Год</mat-label>
              <input matInput placeholder="Just a placeholder" formControlName="year">
              <mat-error>
                Поле обязательное
            </mat-error>
            </mat-form-field>
      </div>
      <div class="content-row">
          <mat-form-field>
              <mat-label>Трансмиссия</mat-label>
              <mat-select formControlName="transmission">
                  <mat-option *ngFor="let transmission of transmissions" [value]="transmission.type">
                    {{transmission.value}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
  
          <mat-form-field>
              <mat-label>Тип двигателя</mat-label>
              <mat-select formControlName="engineType">
                  <mat-option *ngFor="let engine of engines" [value]="engine.type">
                    {{engine.value}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
  
          <mat-form-field>
              <mat-label>Привод</mat-label>
              <mat-select formControlName="drive">
                  <mat-option *ngFor="let drive of drives" [value]="drive.type">
                    {{drive.value}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <div class="content-row">
          <mat-form-field>
              <mat-label>Пробег</mat-label>
              <input matInput placeholder="Just a placeholder" formControlName="mileage">
              <mat-error>
                Поле обязательное
            </mat-error>
          </mat-form-field>
  
          <mat-form-field>
              <mat-label>Гос. номер</mat-label>
              <input matInput placeholder="Just a placeholder" formControlName="stateNumber">
              <mat-error>
                Неправильный формат номера: 'A000АА000' или 'A000АА00'
            </mat-error>
          </mat-form-field>
      </div>
      </form>

      <div class="actions">
        <button mat-raised-button color="primary" (click)="save()">Сохранить</button>
        <button mat-raised-button (click)="close(false)">Нет</button>
    </div>
    </ng-template>
    

</div>