.confirm-account-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .wrapper{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        width: 70%;
        height: fit-content;

        .form{
            width: 330px;
            margin-top: 160px;
          


            span{
                &.title{
                    font-size: 22pt;
                    font-weight: bold;
                    color: #00a1df;
                }

                &.subtitle{
                    margin-top: 10px;
                    color: #9dafc2;
                }
            }

            .form-control-wrapper{
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;

                button{
                    margin-bottom: 10px;
                }

            }
        }
    }

    .side-image{
        height: 100%;

        img{
            width: 509px;
            height: 100%;
        }
    }
}