<div class="password-wrapper">
    <div class="wrapper">
        <form class="form" [formGroup]="form" (submit)="submit()">
            <span class="title">Добро пожаловать!</span>
            <span class="subtitle">Придумайте пароль</span>
            <div class="form-control-wrapper">
                <span>Пароль</span>
                <input type="password" class="form-input" placeholder="Введите пароль" formControlName="password">
            </div>
            <div class="form-control-wrapper">
                <span>Подвердите пароль</span>
                <input type="password" class="form-input" placeholder="Введите пароль еще раз" formControlName="confirmPassword">
            </div>
            <div class="form-control-wrapper">
                <input type="submit" value="Подтвердить" class="submit">
                <div>
                    Еще не зарегистрированы? <a href="sign-in">Регистрация</a>
                </div>
            </div>
        </form>
    </div>

    <div class="side-image">
        <img src="assets/images/bg-shapes.svg" alt="">
    </div>
</div>