<div class="password-wrapper">
    <div class="wrapper">
        <form class="form" [formGroup]="form">
            <span class="title">Добавление пароля</span>
            <span class="subtitle">Придумайте пароль</span>

            <mat-form-field [ngClass]="{'error': !passwordIsValid}">
                <mat-label>Пароль *</mat-label>
                <input [type]="showPassword ? 'text' : 'password'" matInput class="form-input" placeholder="Введите пароль" formControlName="password">
                <mat-icon 
                    matSuffix 
                    (click)="showPassword = !showPassword">
                    {{showPassword ? 'visibility_on' : 'visibility_off'}}
                </mat-icon>
                <mat-error>
                    Поле обязательно. <br>
                    Длина пароля: 8-15 символов, минимум 1 цифра, верхний и нижний регистр<br>
                </mat-error>
            </mat-form-field>

            <mat-form-field [ngClass]="{'error': !confirmPasswordIsValid}">
                <mat-label>Подвердите пароль</mat-label>
                <input [type]="showPassword2 ? 'text' : 'password'" matInput class="form-input" placeholder="Введите пароль еще раз" formControlName="confirmPassword">
                <mat-icon 
                    matSuffix 
                    (click)="showPassword2 = !showPassword2">
                    {{showPassword2 ? 'visibility_on' : 'visibility_off'}}
                </mat-icon>
                <mat-error>
                    Поле обязательно. <br>
                    Длина пароля: 8-15 символов, минимум 1 цифра, верхний и нижний регистр<br>
                </mat-error>
            </mat-form-field>

            <div class="form-control-wrapper">
                <button mat-raised-button (click)="submit()">Подтвердить</button>
                <div>
                    Еще не зарегистрированы? <a href="sign-up">Регистрация</a>
                </div>
            </div>
        </form>
    </div>

    <div class="side-image">
        <img src="assets/images/bg-shapes.svg" alt="">
    </div>
</div>