.password-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .wrapper{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        width: 70%;
        height: fit-content;

        .form{
            width: 300px;
            display: flex;
            flex-direction: column;

            span{
                &.title{
                    font-size: 22pt;
                    font-weight: bold;
                }

                &.subtitle{
                    color: #9dafc2;
                }
            }

            mat-form-field{
                &.error{
                    margin-bottom: 30px;
                }
            }



            .form-control-wrapper{
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;

                input{
                    padding: 8px;
                    margin-top: 5px;
                    border-width: 0.5px;
                    height: 30px;
                    background-color: rgba($color: #9dafc2, $alpha: 0.1);
                    border-radius: 10px;
                    
                    &.submit{
                        background-color: rgba($color: #7db9f9, $alpha: 0.8);
                        color: white;

                        &:hover{
                            cursor: pointer;
                        }
                    }
                }

            }
        }
    }

    .side-image{
        height: 100%;

        img{
            width: 449px;
            height: 100%;
        }
    }
}